/* Reset styles from Bootstrap */

a {
    color: #000;
}

.dropdown-menu {
    --bs-dropdown-min-width: 4rem;
}

/* Language switcher */

.selected {
    font-weight: bold;
}


/* Login Page */

#login-form {

}